{% extends "AppBalti/dormir.html" %}

{% block formularios %}
<div class="container">
    <div>
        <form action="" method="POST"> {% csrf_token %}
            <h2>Esta seguro de borrar el producto?</h2><br>
            <h3>{{object.articulo}}-{{object.nombre}}-{{object.color}}-{{object.talle}}</h3><br>


            <input class="btn btn-danger btn-xl text-uppercase" type="submit" value="Borrar">
            <a class="btn btn-secondary btn-xl text-uppercase" href={% url 'Todos_dormir' %}>Regresar</a>


        </form>
        
    </div>


</div>
{% endblock formularios %}