{%extends "AppBalti/base_balti.html" %}
{% block titulo %}
Conjuntos como vos,<br>coloridos, divertidos y sexys!
{% endblock titulo %}
{% block botones_formularios %}
{% if request.user.is_authenticated %}
<a class="btn btn-primary btn-xl text-uppercase" href={% url 'Ingreso_conjunto' %}>Nuevo Conjunto</a>
{% endif %}
<a class="btn btn-primary btn-xl text-uppercase" href={% url 'Buscar_conjunto' %}>Buscar por taza</a>
<a class="btn btn-primary btn-xl text-uppercase" href={% url 'Todos_conjunto' %}>Ver Todos</a>
{% endblock botones_formularios %}