{% extends "AppBalti/puntos_de_venta.html" %}

{% block formularios %}
<div class="container">
    <div>
        <form action="" method="POST"> {% csrf_token %}
            <table style="margin: 0 auto;">
                
                {{form.as_table}}

            </table>

            <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Guardar">
            <a class="btn btn-secondary btn-xl text-uppercase" href={% url 'Todos_punto' %}>Volver</a>


        </form>
        <div class="masthead-subheading">{{mensaje}}</div>
    </div>


</div>
{% endblock formularios %}